*
    box-sizing: border-box
    font-family: 'Museo Sans', sans-serif


.hidden
    display: none

.container
    max-width: 950px
    margin: 0 auto


@import "blocks/promo"
@import "blocks/header"
@import "blocks/buttons"
@import "blocks/link"
@import "blocks/title"
@import "blocks/advantages"
@import "blocks/consultation"
@import "blocks/forms"
@import "blocks/carousel"