@media screen and ( max-width: 1200px  )
    .promo
        min-height: 0
        height: 450px
        &__wrapper
            margin-top: 30px
        .header
            align-items: flex-end
        .header__official
            margin-left: 300px
        .header__logo
            img
                margin-left: 300px
        &__header
            font-size: 40px
        &__subheader
            font-size: 20px
        &__icons
            margin-top: 15px
        .button_main
            margin-top: 25px
    .advantages
        min-height: 0
        height: 440px
        padding: 55px 0 35px 0


// @media screen and ( max-width: 992px  )
//     .promo
//         height: 400px
//         padding-top: 5px
//         &__wrapper
//             margin-top: 20px
//         .header
//             &__logo
//                 img
//                     margin-left: 340px
//             &__phone
//                 margin: 3px 0
//             &__official
//                 display: none
//         &__header
//             font-size: 36px
//         &__subheader
//             margin-top: 3px
//         &__icons
//             width: 370px
//         &__icons
//             img
//                 height: 40px
//     .advantages
//         height: 300px
//         padding: 30px 0
//         &__wrapper
//             margin-top: 40px


@media screen and ( max-width: 992px )
    .promo
        height: 210px
        padding-top: 5px
        &__wrapper
            margin-top: 10px
        .header
            &__logo
                img
                    margin-left: 370px
                .logo__main
                    display: none
            &__official
                display: none
        &__header
            font-size: 20px
            margin-right: 50px
        &__subheader
            display: none
        &__icons
            margin-top: 3px
            width: 345px
            img
                height: 33px
                margin-bottom: 8px
        &__icon
            font-size: 11px
        .button_main
            width: 160px
            height: 25px
            font-size: 10px
            margin-top: 8px
            margin-right: 90px
        &_link
            display: none
    .header
        &__phone
            font-size: 18px
        .button_md
            width: 165px
            height: 25px
            font-size: 12px
        &__contacts
            margin-right: 5px

    .hidden
        display: block

    .advantages
        height: 300px
        padding: 15px 10px
        &__icons
            img
                width: 45px
        &__subtitle
            margin-top: 10px
            font-size: 15px
        &__descr
            margin-top: 5px
            font-size: 12px
        span
            &:nth-child(1)
                width: 269px
                height: 91px
            &:nth-child(3)
                width: 240px
                height: 74px
        &__wrapper
            margin-top: 20px
    .title
        font-size: 25px
        &_color-white
            line-height: 30px
    .link
        font-size: 12px

    .consultation
        min-height: 410px
        padding: 32px 0 28px 0

    .feed-form
        margin-top: 20px
        width: 260px
        input
            height: 35px
            

@media screen and ( max-width: 768px )
    .promo
        .header
            &__phone
                font-size: 16px
            .button_md
                width: 145px
                height: 20px
                font-size: 10px
            &__logo
                img
                    margin-left: 255px
                    display: none
    .advantages
        min-height: 555px
        &__wrapper
            flex-direction: column
        span
            &:nth-child(1)
                width: 269px
                height: 91px
            &:nth-child(3)
                width: 325px
                height: 74px
    .consultation
        min-height: 350px
        padding-left: 20px
    .feed-form
        margin-top: 10px
        width: 260px
        input
            height: 35px
    .button
        &_submit
            height: 40px

@media screen and ( max-width: 576px)
    .promo
        &__header
            margin-right: 25px
        &__icons
            img
                height: 30px
            width: 310px
        &__icon
            font-size: 10px
    .header
        .button_md
            font-size: 7px
    .advantages
        span
            &:nth-child(3)
                width: 300px

    