.advantages
    min-height: 473px
    padding: 73px 0 83px 0 
    &__wrapper
        display: flex
        justify-content: space-around
        align-items: center
    &_mb
        margin-bottom: 60px
    &__item
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        img
            width: 70px
            height: 70px
    &__subtitle
        margin-top: 35px
        margin-bottom: 20px
        font-weight: 700
        font-size: 18px
        color: $text
        text-align: center
    &__descr
        font-weight: 300
        font-size: 14px
        text-align: center
        color: $text
        width: 270px